
     <% include partials/header %>
        <div class="jumbotron text-center" id="mainPageBack">
          <h1 class="display-4">Random Company Name</h1>
          <% if(!user) { %>
          <p class="lead text-primary">Sign Up Today!</p>
         <a href="/users/register" class="btn btn-warning">Register Now</a>
         <% } %>
      </div>
      <div class="container text-center">
        <div id="whatIs">
           <p class="text-info" id="mainCatch" >What are we about?</p> 
        </div>
       <div class="cards1 text-center">
          <div class="card border-info mb-3" style="max-width: 20rem;">
              <div class="card-header">Header</div>
              <div class="card-body">
                <h4 class="card-title">Info card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
            <div class="card border-info mb-3" style="max-width: 20rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                  <h4 class="card-title">Info card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
              <div class="card border-info mb-3" style="max-width: 20rem;">
                  <div class="card-header">Header</div>
                  <div class="card-body">
                    <h4 class="card-title">Info card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
       </div>
       <div class="card2 text-center">
          <div class="card border-info mb-3" style="max-width: 20rem;">
              <div class="card-header">Header</div>
              <div class="card-body">
                <h4 class="card-title">Info card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
            <div class="card border-info mb-3" style="max-width: 20rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                  <h4 class="card-title">Info card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
       </div>
      </div>
      
    
<% include partials/footer %>
